{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
    About User
{% endblock %}

{% block body %}
<div>
    <h1>User Info</h1>
    <div>Products available: {% now 'u' %}</div>
    {% if request.user.is_authenticated %}
        {% cache 300 userinfo user.username %}
            <h2>Detail</h2>
            <p>Username: {{ user.username }}</p>
            <p>Firstname: {{ user.first_name }}</p>
            <p>Lastname: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Bio: {{user.profile.bio}}</p>
            {% if perms.shopapp.view_order %}
                <p>Permissions: {{ perms.shopapp }}</p>
            {% endif %}
        {% endcache %}
        <div>
            <a href="{% url 'shopapp:products_list' %}">To products list</a>
        </div>
        <div>
            <a href="{% url 'shopapp:orders_list' %}">To orders list</a>
        </div>
        <div>
            <a href="{% url 'shopapp:main_view' %}">Back to main page</a>
        </div>
        <br>
        <div>
            <a href="{% url 'shopapp:logout_form' %}">Logout</a>
        </div>
        <br>
    {% else %}
        <h2>You are not authorised User is anonymous</h2>
        <div>
            <a href="{% url 'shopapp:login_form' %}">Login</a>
        </div>
        <div>
            <a href="{% url 'shopapp:main_view' %}">Back to main page</a>
        </div>
    {% endif %}
</div>
{% endblock %}