<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
      Base Title
    {% endblock %}
  </title>
</head>
<body>
    {% block body %}
        <div>
            {% if request.user.is_authenticated %}
                <h1>Welcome to the website</h1>
                <h2>I'm the main page</h2>
                <div>
                    <a href="{% url 'shopapp:products_list' %}">To products list</a>
                </div>
                <div>
                    <a href="{% url 'shopapp:orders_list' %}">To orders list</a>
                </div>
                <div>
                    <a href="{% url 'shopapp:about_user' %}">To user profile</a>
                </div>
                <br>
                <div>
                    <a href="{% url 'shopapp:logout_form' %}">Logout</a>
                </div>
                <br>
            {% else %}
                <h2>You are not authorised on our website</h2>
                <div>
                    <a href="{% url 'shopapp:login_form' %}">Login</a>
                </div>
            {% endif %}
        </div>
    {% endblock %}
</body>
</html>
