{% extends 'shopapp/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<div>
    <h2>Login page</h2>
    <form method="post">
        {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Login</button>
    </form>
</div>
<div>
    <a href="{% url 'shopapp:register_user' %}">Register user</a>
</div>
{% endblock %}