{% extends 'shopapp/base.html' %}

{% block title %}
    Logout
{% endblock title %}

{% block body %}
<div>
    <h2>Logout</h2>
    <p>You have successfully logout of your account</p>
    <a href="{% url 'shopapp:login_form' %}">Login</a>
</div>
{% endblock body %}