{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
  Orders list
{% endblock %}

{% block body %}
  <h1>Orders:</h1>
  <h2>Order by: {{ owner }}</h2>
  {% if object_list %}
    <div>
      {% cache 300 userorder owner.pk %}
      {% for order in object_list %}
        <div>
          <p>--------------------------------------------------</p>
          <p>Promocode: <code>{{ order.promocode }}</code></p>
          <p>Delivery address: {{ order.delivery_address }}</p>
          <a href="{% url 'shopapp:orders_detail' pk=order.pk %}">Detail order</a>
          <div>
            Product in order:
            <ul>
              {% for product in order.products.all %}
                <li>{{ product.name }} for ${{ product.price }}</li>
              {% endfor %}
            </ul>
          </div>

        </div>
      {% endfor %}
      {% endcache %}
    </div>
  {% else %}
    <h2>Order by: {{ owner }}</h2>
    <h3>No orders yet</h3>
  {% endif %}
  <div>
    <a href="{% url 'shopapp:order_create'%}">Create new order</a>
  </div>
  <div>
    <a href="{% url 'shopapp:products_list' %}">Back to products list</a>
  </div>
{% endblock %}
