{% extends 'shopapp/base.html' %}


{% block title %}
  Update order
{% endblock %}

{% block body %}
  <h1>Update order</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update</button>
  </form>
  <div>
      <a href="{% url 'shopapp:orders_detail' pk=object.pk %}">Back to orders #{{ object.pk }}</a>
  </div>
{% endblock %}