{% extends 'shopapp/base.html' %}


{% block title %}
  Confirm archive {{object.name}}
{% endblock %}

{% block body %}
  <h1>Are you sure you want to delete {{object.name}}?</h1>
  <br>
  <div>
      <a href="{% url 'shopapp:orders_detail' pk=object.pk %}">Back to orders #{{ object.pk }}</a>
  </div>
  <br>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Delete</button>
  </form>
{% endblock %}