{% extends 'shopapp/base.html' %}

{% block title %}
  Order detail №{{order.pk}}
{% endblock %}

{% block body %}
    <h1>Orders <strong>{{order.user}}</strong></h1>
    <div>
        <ul>
            <div>Product:</div>
            {% for product in order.products.all %}
            <li>{{ product.name }} for ${{ product.price }}</li>
            {% endfor %}
        </ul>
        <div>Promocode: {{order.promocode}}</div>
        <div>Created_at: {{order.created_at}}</div>
        <div>Archived: {{order.archived}}</div>
        {% if order.receipt %}
            <img src="{{order.receipt.url}}" alt="order.receipt.user">
        {% endif %}
    </div>
    <div>
       <a href="{% url 'shopapp:order_update' pk=order.pk %}">Update order</a>
    </div>
    <div>
       <a href="{% url 'shopapp:order_delete' pk=order.pk %}">Delete order</a>
    </div>
    <div>
        <a href="{% url 'shopapp:orders_list' %}">Back to orders list</a>
    </div>
{% endblock %}