{% extends 'shopapp/base.html' %}

{% block title %}
  Product detail №{{product.pk}}
{% endblock %}

{% block body %}
    <h1>Product <strong>{{product.name}}</strong></h1>
    <div>
      <div>Description: <em>{{product.description}}</em></div>
      <div>Price: {{product.price}}</div>
      <div>Discount: {{product.discount}}</div>
      <div>Archived: {{product.archived}}</div>
      {% if product.preview %}
        <img src="{{product.preview.url}}" width="300" alt="product.preview.name">
      {% endif %}
    </div>
    <div>
       <a href="{% url 'shopapp:product_update' pk=product.pk %}">Update product</a>
    </div>
    <div>
       <a href="{% url 'shopapp:product_archive' pk=product.pk %}">Archive product</a>
    </div>
    <div>
        <a href="{% url 'shopapp:products_list' %}">Back to products list</a>
    </div>
{% endblock %}