{% extends 'admin/change_list.html' %}

{% block object-tools-items %}
{% load admin_urls  %}
    <li>
      <a href="{% url 'admin:import_products_csv' %}" class="addlink">
        Import CSV
      </a>
    </li>
    {{ block.super }}
{% endblock %}