{% extends 'shopapp/base.html' %}


{% block title %}
  Create product
{% endblock %}

{% block body %}
  <h1>Create product</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
  </form>
  <div>
      <a href="{% url 'shopapp:products_list' %}">Back to products list</a>
  </div>
{% endblock %}