{% extends 'shopapp/base.html' %}

{% block title %}
  Products list
{% endblock %}

{% block body %}
  <h1>Products:</h1>
  {% if products %}
    <div>
    {% for product in products %}
      <div>
        <p><a href="{% url 'shopapp:products_detail' pk=product.pk %}">Name: {{ product.name }}</a></p>
        <p>Price: {{ product.price }}</p>
        <p>Discount: {% firstof product.discount 'no discount' %}</p>
      </div>
      {% if product.preview %}
      <img src="{{product.preview.url}}" width="300" alt="product.preview.name">
      {% endif %}
    {% endfor %}

    </div>

  {% else %}
    <h3>No products yet</h3>
  {% endif %}

  <div>
    <a href="{% url 'shopapp:product_create'%}">Create new product</a>
  </div>
  <div>
    <a href="{% url 'shopapp:orders_list' %}">Orders</a>
  </div>
  <div>
    <a href="{% url 'shopapp:main_view' %}">Back to main page</a>
  </div>
{% endblock %}
