{% extends 'shopapp/base.html' %}

{% block title %}
    Register User
{% endblock %}

{% block body %}
<div>
    <h1>Register User</h1>
    <form method="post">
        {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" value="Register">Register</button>
    </form>
</div>
{% endblock %}