{% extends 'blogapp/base.html' %}

{% block title %}
  Article detail №{{article.pk}}
{% endblock %}

{% block body %}
   <h1>Article <strong>{{article.title}}</strong></h1>
    <div>
      <div>Content: <em>{{article.content}}</em></div>
      <p>Pub-date: {{article.pub_date}}</p>
      <p>Article by {{article.author.name}}</p>
      <p>Category: {{ article.category.name }}</p>
    </div>
    <div>
        <a href="{% url 'blogapp:article_list' %}">Back to articles list</a>
    </div>
{% endblock %}