{% extends 'blogapp/base.html' %}

{% block title %}
  Article list
{% endblock %}

{% block body %}
  <h1>Articles:</h1>
  {% if object_list %}
    <div>
      {% for article in object_list %}
        <div>
          <p>Title: <a href="{% url 'blogapp:article-detail' pk=article.pk %}">{{ article.title }}</a></p>
          <p>Pub-date: {{article.pub_date}}</p>
          <p>Article by {{article.author.name}}</p>
          <p>Category: {{ article.category.name }}</p>
          <div>
            Tags in article:
            <ul>
              {% for tag in article.tags.all %}
                <li>Tags: {{tag.name }}</li>
              {% endfor %}
            </ul>
          </div>

        </div>
      {% endfor %}

    </div>
  {% else %}
    <h3>No articles yet</h3>
  {% endif %}
  <div>
    <a href="{% url 'blogapp:article_create'%}">Create new article</a>
  </div>
  <div>
    <a href="{% url 'blogapp:main_view' %}">Back to main-page</a>
  </div>
{% endblock %}