<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
      Base Title
    {% endblock %}
  </title>
</head>
<body>
    {% block body %}
        <div>
            <h1>Welcome to the website</h1>
            <h2>I'm the main page</h2>
            <div>
                <a href="{% url 'blogapp:article_list' %}">To article list</a>
            </div>
        </div>
    {% endblock %}
</body>
</html>